In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import dash
from dash import dcc
from dash import html

In [2]:
df=pd.read_csv(r'C:\Users\ritod\OneDrive\Desktop\Dv\Placement_Data_Full_Class.csv',encoding='latin-1')
df.head()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21285 entries, 0 to 21284
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sl_no           21285 non-null  int64
 1   gender          21285 non-null  object
 2   ssc_p           21285 non-null  float64
 3   ssc_b           21285 non-null  object
 4   hsc_p           21285 non-null  float64
 5   hsc_b           21285 non-null  object
 6   hsc_s           21285 non-null  object
 7   degree_p        21285 non-null  float64
 8   degree_t        21285 non-null  object
 9   workex          21285 non-null  object
 10  etest_p         21285 non-null  float64
 11  specialisation  21285 non-null  object
 12  mba_p           21285 non-null  float64
 13  status          21285 non-null  object
 14  salary          14652 non-null  float64
dtypes: float64(6), int64(1), object(8)
memory usage: 2.4+ MB

In [12]:
df['status'].value_counts()

Placed        14652
Not Placed     6633
Name: status, dtype: int64

In [17]:
app = dash.Dash(__name__)
app.layout = html.Div(
    children=[
        html.H1(children="Gender vs Placed",),
        html.P(
            children="Analyze the behavior of avocado prices"
            " and the number of avocados sold in the US"
            " between 2015 and 2018",
        ),
        dcc.Graph(
            figure={
                "data": [
                    {
                        "x": df["gender"],
                        "y": df["status"],
                        "type": "lines",
                    },
                ],
                "layout": {"title": "Average Price of Avocados"},
            },
        ),
        dcc.Graph(
            figure={
                "data": [
                    {
                        "x": df["specialisation"],
                        "y": df["status"],
                        "type": "lines",
                    },
                ],
                "layout": {"title": "Avocados Sold"},
            },
        ),
    ]
)
if __name__ == "__main__":
    app.run_server(debug=True)

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app '__main__' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: on

SystemExit: 1